<h1>Добавить встречу</h1>

<form class="main__event" id="eventForm">
  <label class="main__event-label" for="day-select">День недели:</label>
  <select class="main__form-option" id="form-day-select" name="form-day-select" required>
    {{#each days}}
      <option value="{{this.name}}">{{this.name}}</option>
    {{/each}}
  </select>

  <label class="main__event-label" for="event">Название встречи:</label>
  <input class="main__event-input" type="text" id="event-input" name="event-input" required>

  <button class="main__event-button" type="submit">Добавить</button>
</form>

<div class="main__schedule-container">
  {{#each days}}
    <div class="main__field main__day" data-day="{{this.name}}">
      <h3>{{this.name}}</h3>
      <div class="events-container">
        {{#each this.events}}
          <div class="event-item">{{this}}</div>
        {{/each}}
      </div>
    </div>
  {{/each}}
</div>